<ion-header>
  <ion-navbar>
    <ion-title>
      Hotter'n Hell Hundred
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only clear (click)="onGoToSettings()">
        <ion-icon name="options"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <p>
    <button ion-button block (click)="onGoToMap()" *ngIf="isAuthenticated">MAP</button>
    <button ion-button block (click)="onGoToFollowRider()" *ngIf="!isAuthenticated">FOLLOW RIDER</button>
  </p>
  <p>
    <button ion-button block (click)="onGoToSchedule()">SCHEDULE OF EVENTS</button>
  </p>
  <p>
    <button ion-button block (click)="onGoToAttractions()">ATTRACTIONS</button>
  </p>
  <p>
    <button ion-button block outline>93 DAYS | 17 HRS | 32 MIN | 18 SEC</button>
  </p>
</ion-content>