<ion-header>

  <ion-navbar>
    <ion-title>Settings</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <ion-list no-lines>
    <button ion-item (click)="changeRiderNumber()">
      Rider Number
      <ion-badge item-end>296</ion-badge>
    </button>
    <button ion-item (click)="changeRoute()">
      <ion-label>Route</ion-label>
      <ion-badge item-end>100 K</ion-badge>>
    </button>
    <button ion-item (click)="changeLocation()">
      <ion-label>Location</ion-label>
      <ion-checkbox checked="true" disabled="true" item-end></ion-checkbox>
    </button>
  </ion-list>

  <button ion-button block (click)="onGoToSignUp()" *ngIf="!isAuthenticated">
    Sign Up
  </button>
  <button ion-button block outline (click)="onGoToSignIn()" *ngIf="!isAuthenticated">
    Sign In
  </button>
  <button ion-button block (click)="onSignOut()" *ngIf="isAuthenticated">
    Sign Out
  </button>
</ion-content>